/* Main Style Sheet */

body{
    width: 1280px;
    height: 800px;
}

.head{
    box-sizing: border-box;
    width: 100%;
    height: 25%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    background: url("../images/blurred_vision.jpg");
    background-repeat: no-repeat;
    color: #e8fcff;
}

.innerhead{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.btn {
    width: 200px;
    background: #5dc68c;
    background-image: -webkit-linear-gradient(top, #5dc68c, #42b996);
    background-image: -moz-linear-gradient(top, #5dc68c, #42b996);
    background-image: -ms-linear-gradient(top, #5dc68c, #42b996);
    background-image: -o-linear-gradient(top, #5dc68c, #42b996);
    background-image: linear-gradient(to bottom, #5dc68c, #42b996);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.btn:hover {
    background: #72dc85;
    background-image: -webkit-linear-gradient(top, #72dc85, #42dba6);
    background-image: -moz-linear-gradient(top, #72dc85, #42dba6);
    background-image: -ms-linear-gradient(top, #72dc85, #42dba6);
    background-image: -o-linear-gradient(top, #72dc85, #42dba6);
    background-image: linear-gradient(to bottom, #72dc85, #42dba6);
    text-decoration: none;
}

.container{
    width: 80%;
    height: auto;
    box-sizing: border-box;
    border: 0px none;
    margin: auto;
    padding: 15px;
}

.search {
    position: relative;
}

.search i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
}

#searchBar{
    width: 100%;
    height: 35px;
    display: block;
    background-image: none;
    background-color: transparent;
    border: 1px solid #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 16px;
    cursor: auto;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    text-align: start;
    overflow: hidden;
    position: relative;
}

#searchBar:focus{
    outline: none;
    box-shadow: 0 0 10px #cccccc;
}

.innerContainer{
    border: 1px none;
    width: 100%;
    padding: 5px;
    margin: auto;
    margin-top: 5px;
}

.innerContainer:after{
    content: '.';
    visibility: hidden;
    clear: both;
    display: block;
}

.resultTable{
    border: 1px none;
    width: 73%;
    padding: 15px;
    float: left;
    margin-right: 5px;
}

table {
    width: 100%;
    margin: auto;
}

thead tr{
    border: 1px solid #000000;
}

thead tr th {
    font-weight: 400;
    background: #5dc68c;
    color: #414141;
    height: 50px;
    text-align: center;
}

thead tr th i{
    cursor: pointer;
}

table tbody tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
    height: 35px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

table tbody tr:last-child {
    border-bottom: 1px solid black;
}

table tbody tr:nth-child(even) {
    background: #e8eeef;
}

table tbody tr:hover {
    background: #d0efce;
    cursor: pointer;
}

table tbody tr td {
    text-align: center;
    padding: 5px;
    font-weight: 300;
}

.detailView
{
    border: 1px none;
    width: 26%;
    padding: 15px;
    float: left;
    margin-left: 5px;
    font-weight: 300;
}

.profileImage{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div>h4{
    margin-top: 0px;
    text-align: center;
}

div p{
    margin-bottom: 0px;
}

.space{
    padding-right: 5px;
}

.angular-google-map-container {
    width: 300px;
    height: 300px;
    margin-top: 5px;
}

.footer{
    box-sizing: border-box;
    width: 100%;
    height:23px;
    position: fixed;
    bottom:0px;
    background-color: #000000;
    color: azure;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}